body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p,
li {
  margin: 0;
  list-style: none;
}

.header-page {
  background: #84a278;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navi-list__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #fcfcfc;
  text-decoration: none;
}

.navi__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navi__list li:not(:last-child) {
  margin-right: 27px;
}

.button {
  width: 150px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border-color: transparent;
}

body {
  margin: 0;
}

.hero__main-ice {
  display: block;
  position: absolute;
}

.button-made {
  background: #84a278;
  width: 111px;
  height: 17px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #f8d24e;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__icon {
    display: none;
  }
  .hero__sub-title {
    display: none;
  }
  .hero__title-b {
    display: none;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    display: none;
  }
  .box-hero {
    height: 453px;
    padding-left: 20px;
    padding-right: 53px;
  }
  .box-hero {
    position: relative;
    background-image: url("../img/tochki.mob.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .button-made {
    background: #84a278;
    color: #f8d24e;
    border: none;
    text-decoration-line: underline;
    width: 83px;
    height: 24px;
    padding: 0;
    margin-left: 8px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
  }
  .button-made:hover {
    color: #0a8817;
  }
  .button-made:focus {
    color: white;
  }
  .hero {
    background: #84a278;
    min-width: 320px;
    padding: 0;
  }
  .hero__big-title {
    width: 247px;
    height: 97px;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 60px;
    margin-bottom: 32px;
  }
  .button-hero {
    color: #000000;
    background: #84a278;
    border: 2px solid #f8d24e;
    border-radius: 8px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    width: 62px;
    height: 24px;
  }
  .button-hero:hover {
    border: 2px solid #0a8817;
  }
  .button-hero:focus {
    color: white;
  }
  .hero__main-ice {
    position: absolute;
    bottom: 0;
    left: 75px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background: #84a278;
    max-width: 1199px;
    padding: 0;
  }
  .button-hero {
    width: 62px;
    height: 24px;
    border: 2px solid #f8d24e;
    border-radius: 8px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    background: #84a278;
    margin-bottom: 28px;
  }
  .button-hero:hover {
    border: 2px solid #0a8817;
  }
  .button-hero:focus {
    color: white;
  }
  .hero__link-block {
    display: flex;
  }
  .button-made {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    text-decoration-line: underline;
    background: #84a278;
    color: #f8d24e;
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 16px;
    border: none;
    width: 82px;
    height: 24px;
  }
  .button-made:hover {
    color: #0a8817;
  }
  .button-made:focus {
    color: white;
  }
  .box-hero {
    position: relative;
    background-image: url("../img/tochki.tablet.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-left: 32px;
    padding-right: 32px;
    height: 343px;
  }
  .hero__main-ice {
    filter: drop-shadow(16px 16px 80px white);
    bottom: 0;
    right: 110px;
  }
  .hero__icon {
    position: absolute;
    bottom: 18px;
    left: 35px;
  }
  .hero__sub-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #fff;
  }
  .hero__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    width: 151px;
    height: 85px;
    color: #ffffff;
    position: absolute;
    left: 200px;
    bottom: 35px;
  }
  .hero__text::before {
    content: "";
    background-image: url("../img/arrow.png");
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    top: 75px;
    left: 0;
    width: 41px;
    height: 16px;
  }
  .hero__big-title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fcfcfc;
    padding-top: 32px;
    margin-bottom: 20px;
    width: 191px;
  }
  .hero__sub {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .hero__title {
    position: absolute;
    top: 20px;
    right: 32px;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .hero__title-b {
    position: absolute;
    right: 32px;
    top: 80px;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .hero__sub-title-b {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
  }
  .hero__sub {
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .hero__sub-title {
    position: absolute;
    right: 0;
    top: 40px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
  }
  .hero__sub-title-b {
    position: absolute;
    right: 0;
    top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    background: #84a278;
    margin: 0 auto;
    margin-top: -1px;
  }
  .hero__big-title {
    width: 367px;
    height: 144px;
    padding-top: 20px;
    margin-bottom: 28px;
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .button-hero {
    color: #000000;
    background: #84a278;
    width: 138px;
    height: 42px;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    margin-right: 12px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .button-hero:hover {
    border: 2px solid #0a8817;
  }
  .button-hero:focus {
    color: white;
  }
  .hero__icon {
    position: absolute;
    bottom: 65px;
    left: 20px;
  }
  .hero__main-ice {
    filter: drop-shadow(16px 16px 80px white);
    top: 0;
    right: 92px;
  }
  .hero__text::before {
    content: "";
    background-image: url("../img/arrow.png");
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    top: 97px;
    left: 0;
    width: 41px;
    height: 16px;
  }
  .hero__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    height: 80px;
    color: #ffffff;
    margin-top: 40px;
    position: absolute;
    bottom: 140px;
    left: 260px;
  }
  .hero__button-block {
    display: flex;
  }
  .button-made {
    font-size: 14px;
    line-height: 17px;
    width: 111px;
    margin: 0;
    height: 40px;
    width: 154px;
    margin-bottom: 44px;
  }
  .button-made:hover {
    color: #0a8817;
  }
  .button-made:focus {
    color: white;
  }
  .box-hero {
    position: relative;
    background-image: url("../img/tochki.desctop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-left: 16px;
    padding-right: 16px;
    height: 560px;
  }
  .hero__title {
    position: absolute;
    top: 35px;
    right: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
  }
  .hero__title-b {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
  }
  .hero__sub-title-b {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    width: 79px;
  }
  .hero__sub {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  .hero__sub-title {
    position: absolute;
    right: 0;
    top: 60px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  .hero__title-b {
    position: absolute;
    right: 16px;
    top: 110px;
  }
  .hero__sub-title-b {
    position: absolute;
    right: 0;
    top: 60px;
  }
  .tochki {
    bottom: 378px;
    position: absolute;
  }
}/*# sourceMappingURL=main.css.map */