body{
    margin: 0;
}
h1,h2,h3{
    margin: 0;
}

p, li{
    margin: 0;
    list-style: none;
}

.container {
    background: #84A278;
    width: 1200px; 
    margin: 0 auto;
      
    padding-left: 16px;
    padding-right: 16px;
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        color: #FCFCFC;
        text-decoration: none;
        
        
}
    .navi-list{
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
    }
    .navi-list li:not(:last-child){
        margin-right: 27px;
    }

    .button{
        width: 150px;
            height: 42px;
            background: #F8D24E;
            border-radius: 10px;
            border-color: transparent;
         
    }



   .box-product{
    position: relative;
   }

    
    .product-list{
        display: flex;
        margin: 0;
    }
    h1{
        font-family: 'Seymour One';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        
            color: #FCFCFC;
    }
    .ice-icon{
    position: absolute;
        bottom: 61px;
        left: 16px;
    }
    .ice-icon-big{
        filter: drop-shadow(16px 16px 100px white);
    }
    .product-title{
      
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 46px;
            line-height: 56px;
                  
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        
            color: #131313;
    }
    .product-sub-title{
      
        
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            color: #FFFFFF;
    }